<header>
  <div id="headerwrapper">
    <div id="rightheader">
      <div id="logo"></div>
    </div>
    <div id="leftheader">
      <div id="navcontainer">
        <ul>
          <li><a class="navItem" href="#">Home</a></li>
          <li><a class="navItem" href="#">About</a></li>
          <li><a class="navItem" href="#">To Do</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
