<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To Do App</title>
  <link href="../public/styles/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Shadows+Into+Light+Two" rel="stylesheet">
</head>
<body>
  <header>
    <div id="headerwrapper">
      <div id="rightheader">
        <div id="logo"></div>
      </div>
      <div id="leftheader">
        <div id="navcontainer">
          <ul>
            <li><a class="navItem" href="#">Home</a></li>
            <li><a class="navItem" href="#">About</a></li>
            <li><a class="navItem" href="#">To Do</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <main>

    <div id="infoWrapper">
      <div id="infoTask">TASK</div>
      <div id="infoStatus">STATUS</div>
      <div id="infoDescription">DESCRIPTION</div>
      <div id="infoButtons">
        <button class="bigButton">EDIT</button>
        <button class="bigButton">DELETE</button>
      </div>
    </div>

  </main>
  <footer>
    <div id="footerwrapper">
      <p id="footerText">Site by Aileen</p>
    </div>
  </footer>
</body>
</html>
