<% include ./partials/boilerplate %>
<% include ./partials/header %>
<%# this needs to be a form %>
  <main class="site-content">
    <div id=addItemBoxes>
      <div class=itemWrapper id=addItemWrapper>
       <form method='POST' action='/tasks'>
        <h2 id="addItemHead">Add A New Item</h2>
        <div id="addItemTop">
          <div id="addItemTask">
            <input name="title" type="text" placeholder="Task" />
          </div>
          <div id="addItemStatus">
            <input name="status" type="text" placeholder="Status" />
          </div>
        </div>
        <div id="addItemBottom">
          <div id="addItemDescription">
            <input name="category" type="text" placeholder="Category" >
          </div>
        </div>
          <div id="buttonDiv">
            <input class="bigButton" type="submit" value="SUBMIT" />
          </div>
      </div>
    </div>

  </main>
<% include ./partials/footer %>
<% include ./partials/end %>

