<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To Do App</title>
  <link href="../public/styles/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Shadows+Into+Light+Two" rel="stylesheet">
</head>
<body>
  <header>
    <div id="headerwrapper">
      <div id="rightheader">
        <div id="logo"></div>
      </div>
      <div id="leftheader">
        <div id="navcontainer">
          <ul>
            <li><a class="navItem" href="#">Home</a></li>
            <li><a class="navItem" href="#">About</a></li>
            <li><a class="navItem" href="#">To Do</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <main>

    <div>
      <div id=addItemWrapper>
        <h2 id="addItemHead">Add A New Item</h2>
        <div id="addItemTop">
          <div id="addItemTask">TASK</div>
          <div id="addItemCategory">CATEGORY</div>
        </div>
        <div id="addItemBottom">
          <div id="addItemDescription">DESCRIPTION</div>
        </div>
        <div id="buttonDiv">
          <button class="bigButton">SUBMIT</button>
        </div>
      </div>


    </div>

  </main>
  <footer>
    <div id="footerwrapper">
      <p id="footerText">Site by Aileen</p>
    </div>
  </footer>
</body>
</html>
